body {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em, 1em;
  color: white;
  background-color: black;
}

header {
  margin-top: 1em;
  padding-top: 1em;
  font-weight: bold;
  font-size: larger;
}

h2{
  margin-top: 1em;
  padding-top: 1em;
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
  font-weight: bold;
  font-size: 100%;
}
a {
  color: yellow;
}
