body {
    margin: 5em auto;
    max-width: 50em;
    font-family: monospace;
    font-size: 150%;
    color: white;
    background-color: black;
}

header{
    font-weight: bold;
    font-size: larger;
}
h1{
    font-weight: bold;
    font-size: 100%;
}
a{
    color: yellow;
}