@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'
 
body {
  margin: auto;
  max-width: 50em;
  font-size: 100%;
}

header {
  font-weight: bold;
  font-size: larger;
}
h1 {
  font-weight: bold;
  font-size: 100%;
}
a {
  color: yellow;
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  padding: 4em, 1em;
  color: white;
  background-color: black;
}

header {
  margin-top: 1em;
  padding-top: 1em;
  font-weight: bold;
  font-size: larger;
}

h2{
  margin-top: 1em;
  padding-top: 1em;
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
  font-weight: bold;
  font-size: 100%;
}
a {
  color: yellow;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: potrait) {
  body {
    max-width: 100em;
  }
} 
